body{font-family: Arial, Helvetica, sans-serif;
    background-image:url("bg2.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}

/*NAV BAR CODE*/
.navigation table{
  margin-top: 20px;
  width:100%;
  border-radius:15px;
  border-color: none;
  border-style:groove;
  background-color: rgba(28, 28, 28,0.5);
  
  }
  
  th{
      color: aliceblue;
  }
  
  a {
      color: aliceblue;
      text-decoration: none;
  }
  
  .navigation th{ 
  
      text-align:center;
      padding: 10px;
      margin: auto;
      font-family:Arial, Helvetica, sans-serif;
      border-radius: 10px;
  }
  th:hover{
      background-color: rgb(28, 28, 28);
      border-radius:15px;
     
  }



input.c1 {
    width: 17px;
    height: 17px;
}
button {
  background-color: rgb(28, 28, 28);
  color: white;
  padding: 14px 20px;
  margin: 5px 30% 10px ;
  border: none;
  width: 40%;
  border-radius: 10px;
}

button:hover {
  background-color:  #545252;
  opacity: 0.8;
}


  a{
    text-decoration:none;
    color:rgb(251, 247, 247);
    padding: 75px;
  }
  p{
    font-style:italic;
    font-size:19px;
    color: gray;
    }


.desp{
        width: 600px;
        padding: 50px ;
        height: 300px;
        margin: 60px auto 0px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: rgba(225, 225, 225, 0.8);
      }

